@import '../../utils/mixins/breakpoints.scss';

.sign-in-container {
    width: 35vw;
    height: 50vh;
    display: flex;
    flex-direction: column;

    p {
        text-align: center;
        font-size: 36px;
        font-weight: 700;
    }

    form {
        display: flex;
        flex-direction: column;
        height: 100%;
        
        .buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4rem;
            height: fit-content;
            margin-top: auto;
            margin-bottom: 1rem;
        }
    }

    @include device(small-laptop) {
        width: 40vw;

        p {
            font-size: 26px;
        }

        form {
            .buttons {
                gap: 1rem;
            }
        }
    }

    @include device(tablet) {
        height: fit-content;
        width: 65vw;
        margin-bottom: 1rem;

        form {
            .buttons {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                margin-top: 0rem;
                margin-bottom: 0rem;
            }
        }
        
    }
}