@import '../../utils/mixins/breakpoints.scss';

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 180px;
    width: fit-content;
    height: 50px;
    border: black 2px solid;
    border-radius: 16px;
    padding: 0 20px;
    background: black;
    color: white;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 300ms ease;


    &:hover {
        background: white;
        color: black;
    }  

    @include device(small-laptop) {
        min-width: 120px;
        height: 45px;
        padding: 0 15px;
    
        }

    @include device(tablet) {
        min-width: 160px;
        padding: 0 7px;
        font-size: 18px;
        height: 50px;
    }

    @include device(tablet) {
        min-width: none;
        width: 100%;
        padding: 0 10px;
        font-size: 18px;
        height: 50px;
    }
}

.inverted {
    background: white;
    color: black;

    &:hover {
        background: black;
        color: white;
    }
}

.google {
    min-width: 232px;
    background: #4285F4;
    color: white;

    &:hover {
        text-shadow: 2px 2px 2px #4285F4;
    }
}

.disabled {
    background: white;
    color: rgb(195, 195, 195);
    border-color: rgb(195, 195, 195);

    &:hover {
        background: white;
        color: rgb(195, 195, 195);
        border-color: rgb(195, 195, 195);
        cursor: alias;
    }
}

.google-icon {
    height: 35px;
    width: 35px;
    margin-right: .75em;
    border-radius: 50%;
}