@import '../../utils/mixins/breakpoints.scss';

.main-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    .text {
        font-size: 28px;
        text-align: center;
        letter-spacing: 2px;
    }

    .categories-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
        padding: 3rem 4rem;

        & :hover {
            background-size: 120%;
            opacity: 0.9;
        }    
    }

    @include device(tablet) {
        margin-top: 1rem;

        

        .categories-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 1rem;
            padding: 2rem 1rem;

            &:focus {
                background-size: 120%;
                opacity: 0.9;
            }    
        }
    }
}
