@import '../../utils/mixins/breakpoints.scss';

.category-options {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;

    button {
        border: 1px solid rgb(var(--primary-dark-color));
        border-radius: 16px;
        font-size: 20px;
        font-weight: 500;
        background: none;
        width: 100px;
        height: 35px;
        text-transform: capitalize;
        box-shadow: inset 0px 0px 5px 1px rgb(var(--primary-light-color));


        &:hover {
            font-weight: 600;
            text-decoration: underline;
            cursor: pointer;
        }
    }
    .selected {
        color: white;
        background: var(--primary-gradient);
        text-decoration: underline;
        font-weight: 600;
    }

    @include device(small-laptop) {
        margin-top: 120px;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
    }
}

.categories-options {
    width: 150px;
    display: flex;
    justify-content: center;
    padding: 10px;
    background: white;
    box-shadow: 0px 2px 20px rgb(88, 88, 88);
    border-radius: 10px;
    font-size: 18px;
    z-index: 500;
    

    .options-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        padding: 10px;

        .option {
            padding: 5px 0;

            &:hover {
                cursor: pointer;
                font-weight: 600;
                color: rgb(var(--primary-dark-color));
            }
        }
    }
}