.category-options {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;

    button {
        border: none;
        font-size: 20px;
        font-weight: 500;
        background: none;
        width: 100px;
        height: 55px;

        &:hover {
            font-weight: 600;
            text-decoration: underline;
        }
    }

    
}

.categories-options {
    width: 150px;
    display: flex;
    justify-content: center;
    padding: 10px;
    background: white;
    box-shadow: 0px 2px 20px rgb(88, 88, 88);
    border-radius: 10px;
    font-size: 18px;
    z-index: 500;
    

    .options-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        padding: 10px;

        .options-title {
            font-size: 20px;
            text-decoration: underline;
            padding-bottom: 5px;


        }

        .option {
            padding: 5px 0;

            &:hover {
                cursor: pointer;
                font-weight: 600;
            }
        }
    }
}