@import '../../utils/mixins/breakpoints.scss';

form {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-block: 1rem;
    background: #fff;

    .billing-container, .delivery-container  {
        width: 40%;    
        
        .form-grouping input {
            background: #fff;
    }
    }



    p {
        font-size: 20px;
        font-weight: 600;
        margin: 0 0 .5rem 0;
        text-align: center;
    }

    @include device(tablet) {
        .billing-container, .delivery-container {
            width: 45%;
        }

        .billing-container input {
            margin-left: auto;
        }

        .billing-container label {
            margin-left: 15px;
        }

        p {
            font-size: 18px;
        }

        .form-grouping input {
            margin-bottom: 20px;
            width: 90%;
        }
    }
}

.checkbox {
    display: flex;
    align-items: center;
    align-self: flex-end;
    gap: 1rem;
    padding-right: 1rem;
    font-weight: 600;

    @include device(tablet) {
        align-items: flex-start;
        font-size: 18px;

        input {
            width: 20px;
            height: 20px;
        }
    }
}