.filter {
    padding: 12px;
    padding-top: 20px;

    .price-filter {
        font-size: 20px;
        font-weight: 600;
        display: flex;
        align-items: center;

        p {
            margin: 1rem;
        }
    }

    .filter-list {
        padding: 0;


    }
}