@import '../../utils/mixins/breakpoints.scss';

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9000;
    height: 10vh;
    width: 100vw;
    padding: 0 3rem;
    background: var(--primary-gradient);
    color: white;
    box-shadow: 0px 5px 20px rgb(108, 108, 108);
    position: fixed;
    top: 0;
    left: 0;

    .icons-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 5.5rem;

        a {
            display: flex;
            align-items: center;
            padding: 0 1rem;
        }


        
    }

    .nav-icon {
        width: 32px;
        height: 32px;

        &:hover {
            cursor: pointer;
        }
    }

    a {
        margin-inline: auto;
        color: white;

        .logo {
            font-family: 'Open Sans', sans-serif;
            font-size: 40px;
            font-weight: 900;
            letter-spacing: 3px;
        }   
    }


    .auth-icon {
        
        &:hover {
            cursor: pointer;
        }
    }

    @include device(tablet) {
        justify-content: center;
    
        a {

            .logo {
                font-size: 36px;
                letter-spacing: 2px;
            }   
        }
    }

    @include device(phone) {
        
        a {
            .logo {
                font-size: 26px;
            }
        }
    }
}

.account-popper {
    z-index: 9001;
    background-color: white;
    box-shadow: 2px 2px 10px gray;
    width: 150px;
    height: 100px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    color: black;

    .account-popper-elem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 8px;
        padding: 5px;

        &:hover {
            font-weight: 600;
            cursor: pointer;
        }

        p {
            font-size: 18px;
            margin: 0;
        }
    }
}