.custom-checkbox {
    display: flex;
    gap: 0.5rem;

    .checkbox-label {
        margin-right: auto;
        text-transform: capitalize;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    input[type="checkbox"].checkbox-input {
        appearance: none;
        -webkit-appearance: none;         
        display: inline-block;
        width: 1em;
        height: 1em;
        padding: 6px;
        border-radius: 0.25em;
        border: 2px solid rgb(var(--primary-dark-color));
        background-color: rgb(var(--background-color));
        position: relative;
        cursor: pointer;
    
        &:checked {
            background-color: rgb(var(--primary-light-color));
            position: relative;
    
            &::before {
                content: "\2714";
                font-size: 18px;
                color: #fff;
                position: absolute;
                right: -2.5px;
                top: -4px;
            }
        }
    
        &:focus{
            outline: none !important;
        }
    }
} 

