.filter-option {
    font-size: 20px;
    text-decoration: underline;
    list-style: none;
    padding: 0 1rem;
    margin: 10px 0;
    text-transform: capitalize;

    &:hover {
        cursor: pointer;
        font-weight: 600;
        text-decoration: none;
    }
}

.filter-name {
    margin: 0;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.accordion-details {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    background: white;
    font-size: 20px;
    
    
}

.MuiAccordion-root.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
    background: rgb(var(--background-color));
}

.MuiAccordionDetails-root.css-15v22id-MuiAccordionDetails-root {
    background: rgb(var(--background-color));
}