.filter-option {
    font-size: 20px;
    text-decoration: underline;
    list-style: none;
    padding: 0 1rem;
    margin: 10px 0;
    text-transform: capitalize;

    &:hover {
        cursor: pointer;
        font-weight: 600;
        text-decoration: none;
    }
}

.filter-name {
    margin: 0;
    text-transform: capitalize;
}

.accordion-details {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    background: white;
    font-size: 20px;
    
    .accordion-item {
        display: flex;
        gap: 0.5rem;

        .accordion-label {
            margin-right: auto;
            text-transform: capitalize;
        }
    } 
}

.MuiAccordion-root.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
    background: rgb(var(--background-color));
}

.MuiAccordionDetails-root.css-15v22id-MuiAccordionDetails-root {
    background: rgb(var(--background-color));
}