.product-page-container {
    height: 120vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 2fr;
    gap: 2rem;
    margin-top: 3.5rem;
    

    .img-container {
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        
        .product-img {
            height: 100%;
            width: 70%;
            min-width: 365px;
            max-width: 450px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;  
        }
    }

    .product-info {
        grid-column: 2/3;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .name-container {
            display: flex;
            align-items: center;

            .product-name {
                font-size: 28px;
                font-weight: 600;
                margin: 0;
            }

            span {
                margin-left: 2rem;
            }
        }

        .price {
            font-weight: 600;
            font-size: 26px;
        }

        .sizes {
            font-size: 20px;
            margin-block: .5em;
            font-weight: 600;

            .size-selector {
                display: flex;
                align-items: center;
                width: 50%;
                border-bottom: 1px solid rgb(var(--primary-light-color));
                padding-inline: 1rem;
                padding-block: .75rem;
                box-shadow: 1px 5px 12px rgb(180, 180, 180);

                .text {
                    width: fit-content;
                    margin-right: auto;
                    font-weight: 500
                }

                button {
                    width: 24px;
                    height: 24px;
                    font-weight: 600;
                    text-transform: uppercase;
                    background: rgb(86, 86, 86);
                    color: white;
                    border-radius: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: auto;
                    outline: none;
                }

                .css-i4bv87-MuiSvgIcon-root {
                    margin-left: 15px;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .recommended-container {
        grid-column: 1/3;
        grid-row: 2/3;
        margin-top: 3rem;
        

        .recommended-text {
            text-align: center;
            font-size: 22px;
            font-weight: 600;
            text-transform: uppercase;
        }

        .recommended-products {
            display: flex;
            align-items: center;
            gap: 2rem;
            margin-top: 1rem;
            height: 90%;

            .shop-item {
                flex: 1;
                height: 80%;
            }
        }
    }

    .MuiAccordion-root.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
        width: 50%;
    }
}



.css-o4b71y-MuiAccordionSummary-content {

    p {
        font-size: 20px;
        font-size: 600;
        margin-block: 0;
    }
}

.css-15v22id-MuiAccordionDetails-root {

    .accordion-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        .details {
            font-size:20px
        }

        .accordion-item {
            font-size: 18px;
            text-transform: capitalize;

            :first-child {
                font-weight: 600;
                
            }
        }
    }
}

.MuiPaper-root.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    width: 250px;
    height: 325px;

    .css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1rem;

        .css-i4bv87-MuiSvgIcon-root {

            &:hover {
                cursor: pointer;
            }
        }
    }

    .css-1t4vnk2-MuiDialogContent-root {
        padding-inline: 0;
        .size-variants {

            .size-item {
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 600;
                padding: 15px 30px;

                &:hover {
                    background-color: rgb(var(--primary-light-color));
                    cursor: pointer;
                }

            }
        } 
    }

    .css-hlj6pa-MuiDialogActions-root {
        display: flex;
        justify-content: center;
    }
    
}

.active {
    background-color: rgb(var(--primary-light-color));
}